__pycache__
ideas/
.ideas/
src/log/server_log/*
!src/log/server_log/.gitkeep
src/log/listener_log/*
!src/log/listener_log/.gitkeep
venv/
src/config/telegram_config.yaml
src/config/listener_config/*
!src/config/listener_config/.gitkeep
